<div class="login-page">
  <div class="login-form">
    <h2>Login</h2>
    <form {{action "login" on="submit"}}>
      <div class="form-group">
        <label for="username">Username:</label>
        <Input id="username" @type="text" @value={{this.username}} class="form-control"/>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <Input id="password" @type="password" @value={{this.password}} class="form-control"/>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    {{#if this.errorMessage}}
      <div class="error-message">{{this.errorMessage}}</div>
    {{/if}}
    <p>Don't have an account? <a {{action "createAccount" on="click"}}>Create one</a>.</p>
  </div>
</div>