{{page-title "Pets"}}
<button type="button" {{action "addPets"}}>Add Pet</button>
{{#if (and (not-eq this.petsList.length undefined) (not-eq this.petsList.length "0"))}}
<table>
	<thead>
		<tr>
			<th>Pet Name</th>
			<th>Pet Type</th>
			<th>Pet Size</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		{{#each this.petsList as |pet|}}
			<tr>
				<td>{{pet.pet_name}}</td>
				<td>{{pet.pet_size}}</td>
				<td>{{pet.pet_type}}</td>
				<td>{{svg-jar "edit" class="icon-grey icon-clickable"}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
{{/if}}
{{outlet}}
