{{page-title "Building"}}
<h2>Building Details</h2>
<table>
	<tr>
		<td>Company Name</td>
		<td>{{this.CompanyName}}</td>
	</tr>
	<tr>
		<td>Building Name</td>
		<td>{{this.BuildingName}}</td>
	</tr>
	<tr>
		<td>Address</td>
		<td>{{this.Address}}</td>
	</tr>
	<tr>
		<td>List of Available Amenities</td>
		<td>{{this.amenitieslist}}</td>
	</tr>
	<tr>
		<td>Year Built</td>
		<td>{{this.YearBuilt}}</td>
	</tr>
	<tr>
		<td>Number of Units Available for Rent</td>
		<td>{{this.NumUnitsAvailableForRent}}</td>
	</tr>
</table>
{{outlet}}