<input
	type="text"
	placeholder="Search..."
	{{on "input" (action "handleSearchInput" target=this.currentRoute)}}
/>
{{#if (eq this.hasData true)}}
	<thead>
	<tr>
		<th>Company Name</th>
		<th>Building Name</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip Code</th>
		<th>Unit Number</th>
		<th>Monthly Rent</th>
		<th>Square Footage</th>
		<th>Year Built</th>
		<th>Available Date</th>
		<th>Amenity Type</th>
		<th>Amenity Description</th>
	</tr>
	</thead>
		<tbody>
	{{#each this.searchOutputUnits as |rental|}}
		<tr>
			<td>{{rental.CompanyName}}</td>
			<td>{{rental.BuildingName}}</td>
			<td>{{rental.AddrStreet}}</td>
			<td>{{rental.AddrCity}}</td>
			<td>{{rental.AddrState}}</td>
			<td>{{rental.AddrZipCode}}</td>
			<td>{{rental.unitNumber}}</td>
			<td>{{rental.MonthlyRent}}</td>
			<td>{{rental.squareFootage}}</td>
			<td>{{rental.YearBuilt}}</td>
			{{!-- <td>{{format-date rental.AvailableDateForMoveIn "dddd, MMMM Do YYYY"}}</td> --}}
			<td>{{rental.AvailableDateForMoveIn}}</td>
			<td>{{rental.AmenityType}}</td>
			<td>{{rental.AmenityDescription}}</td>
		</tr>
	{{/each}}
	{{#each this.searchOutputBuild as |rental|}}
		<tr>
			<td>{{rental.CompanyName}}</td>
			<td>{{rental.BuildingName}}</td>
			<td>{{rental.AddrStreet}}</td>
			<td>{{rental.AddrCity}}</td>
			<td>{{rental.AddrState}}</td>
			<td>{{rental.AddrZipCode}}</td>
			<td>{{rental.unitNumber}}</td>
			<td>{{rental.MonthlyRent}}</td>
			<td>{{rental.squareFootage}}</td>
			<td>{{rental.YearBuilt}}</td>
			{{!-- <td>{{format-date rental.AvailableDateForMoveIn "dddd, MMMM Do YYYY"}}</td> --}}
			<td>{{rental.AvailableDateForMoveIn}}</td>
			<td>{{rental.AmenityType}}</td>
			<td>{{rental.AmenityDescription}}</td>
		</tr>
	{{/each}}
	</tbody>
{{else}}
{{/if}}
{{outlet}}
