{{page-title "User"}}
<h2>Apartment Details</h2>
<table>
	<tr>
		<td>Username</td>
		<td>{{this.UserName}}</td>
	</tr>
	<tr>
		<td>First Name</td>
		<td>{{this.FirstName}}</td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td>{{this.LastName}}</td>
	</tr>
    <tr>
		<td>Date of Birth</td>
		<td>{{this.DOB}}</td>
	</tr>
    <tr>
		<td>Gender</td>
		<td>{{this.Gender}}</td>
	</tr>
    <tr>
		<td>Email</td>
		<td>{{this.Email}}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>{{this.Phone}}</td>
	</tr>
</table>
{{outlet}}