<div>
	<h2>Pet Details</h2>
	<label>
		Pet Name:
		<Input @type="text" @value={{this.petName}} />
	</label>
  <div class="form-group">
    <label for="gender">Pet Type:</label>
    <select class="form-control" {{on "change" (action "petTypeChanged")}}>
      <option value="Dog">Dog</option>
      <option value="Cat">Cat</option>
      <option value="Rodent">Rodent</option>
      <option value="Turtle">Turtle</option>
      <option value="Bird">Bird</option>
    </select>
  </div>
  <div class="form-group">
    <label for="gender">Pet Size:</label>
    <select class="form-control" {{on "change" (action "petSizeChanged")}}>
      <option value="Small">Small</option>
      <option value="Medium">Medium</option>
      <option value="Large">Large</option>
    </select>
  </div>
  {{#if this.errorMessage}}
    <div class="error-message" style="padding: 0px 0px 10px 0px;">{{this.errorMessage}}</div>
  {{/if}}
	<button type="button" {{action "savePetDetails"}}>Save</button>
</div>
